# üìö Library Import

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
%matplotlib inline

import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# üìà Raw Data Import

In [2]:
df = pd.read_csv('bank-additional/bank-additional-full.csv', sep = ';')

In [3]:
df.shape

(41188, 21)

In [60]:
df['y'].value_counts(normalize = True)

no     0.887346
yes    0.112654
Name: y, dtype: float64

In [4]:
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

There are no missing values, that is there are no values equal to 'None' or 'nan'. However, I have a feeling there are placeholder missing values that we will need to deal with.

In [139]:
for c in df.columns:
    print(c)
    print(df[c].unique())

age
[56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44
 42 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67
 73 88 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91
 86 98 94 84 92 89]
job
['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
marital
['married' 'single' 'divorced' 'unknown']
education
['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
default
['no' 'unknown' 'yes']
housing
['no' 'yes' 'unknown']
loan
['no' 'yes' 'unknown']
contact
['telephone' 'cellular']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
day_of_week
['mon' 'tue' 'wed' 'thu' 'fri']
duration
[ 261  149  226 ... 1246 1556 1868]
campaign
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56
 39 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]
pdays
[999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]
previous
[0 1 2 3 4 5 6 7]
poutcome
['nonexistent' 'failure' 'success']
emp.var.rate
[ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]
cons.price.idx
[93.994 94.465 93.918 93.444 93.798 93.2   92.756 92.843 93.075 92.893
 92.963 92.469 92.201 92.379 92.431 92.649 92.713 93.369 93.749 93.876
 94.055 94.215 94.027 94.199 94.601 94.767]
cons.conf.idx
[-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]
euribor3m
[4.857 4.856 4.855 4.859 4.86  4.858 4.864 4.865 4.866 4.967 4.961 4.959
 4.958 4.96  4.962 4.955 4.947 4.956 4.966 4.963 4.957 4.968 4.97  4.965
 4.964 5.045 5.    4.936 4.921 4.918 4.912 4.827 4.794 4.76  4.733 4.7
 4.663 4.592 4.474 4.406 4.343 4.286 4.245 4.223 4.191 4.153 4.12  4.076
 4.021 3.901 3.879 3.853 3.816 3.743 3.669 3.563 3.488 3.428 3.329 3.282
 3.053 1.811 1.799 1.778 1.757 1.726 1.703 1.687 1.663 1.65  1.64  1.629
 1.614 1.602 1.584 1.574 1.56  1.556 1.548 1.538 1.531 1.52  1.51  1.498
 1.483 1.479 1.466 1.453 1.445 1.435 1.423 1.415 1.41  1.405 1.406 1.4
 1.392 1.384 1.372 1.365 1.354 1.344 1.334 1.327 1.313 1.299 1.291 1.281
 1.266 1.25  1.244 1.259 1.264 1.27  1.262 1.26  1.268 1.286 1.252 1.235
 1.224 1.215 1.206 1.099 1.085 1.072 1.059 1.048 1.044 1.029 1.018 1.007
 0.996 0.979 0.969 0.944 0.937 0.933 0.927 0.921 0.914 0.908 0.903 0.899
 0.884 0.883 0.881 0.879 0.873 0.869 0.861 0.859 0.854 0.851 0.849 0.843
 0.838 0.834 0.829 0.825 0.821 0.819 0.813 0.809 0.803 0.797 0.788 0.781
 0.778 0.773 0.771 0.77  0.768 0.766 0.762 0.755 0.749 0.743 0.741 0.739
 0.75  0.753 0.754 0.752 0.744 0.74  0.742 0.737 0.735 0.733 0.73  0.731
 0.728 0.724 0.722 0.72  0.719 0.716 0.715 0.714 0.718 0.721 0.717 0.712
 0.71  0.709 0.708 0.706 0.707 0.7   0.655 0.654 0.653 0.652 0.651 0.65
 0.649 0.646 0.644 0.643 0.639 0.637 0.635 0.636 0.634 0.638 0.64  0.642
 0.645 0.659 0.663 0.668 0.672 0.677 0.682 0.683 0.684 0.685 0.688 0.69
 0.692 0.695 0.697 0.699 0.701 0.702 0.704 0.711 0.713 0.723 0.727 0.729
 0.732 0.748 0.761 0.767 0.782 0.79  0.793 0.802 0.81  0.822 0.827 0.835
 0.84  0.846 0.87  0.876 0.885 0.889 0.893 0.896 0.898 0.9   0.904 0.905
 0.895 0.894 0.891 0.89  0.888 0.886 0.882 0.88  0.878 0.877 0.942 0.953
 0.956 0.959 0.965 0.972 0.977 0.982 0.985 0.987 0.993 1.    1.008 1.016
 1.025 1.032 1.037 1.043 1.045 1.047 1.05  1.049 1.046 1.041 1.04  1.039
 1.035 1.03  1.031 1.028]
nr.employed
[5191.  5228.1 5195.8 5176.3 5099.1 5076.2 5017.5 5023.5 5008.7 4991.6
 4963.6]
y
['no' 'yes']

# üë®üèº‚Äçüíª Data Cleaning

## ‚ùì Features with 'unknown' values (aka missing)
* Job
* Marital
* Education
* Default
* Housing
* Loan

All of the features with unknown values are all categorical features. To fill in the missing values, I will simply calculate the ratios of the already existing values and distribute the unknown values accordingly into those categories.

## Job

In [5]:
df_norm_jobs = df['job'].value_counts(normalize = True)
df_norm_jobs

admin.           0.253035
blue-collar      0.224677
technician       0.163713
services         0.096363
management       0.070992
retired          0.041760
entrepreneur     0.035350
self-employed    0.034500
housemaid        0.025736
unemployed       0.024619
student          0.021244
unknown          0.008012
Name: job, dtype: float64

In [6]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [7]:
df['job'] = df['job'].replace('unknown', np.nan)

In [8]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
Name: job, dtype: int64

In [9]:
for i in (range(len(df_norm_jobs))):
    df['job'] = df['job'].fillna(df_norm_jobs.index.values[i], limit = math.ceil(df_norm_jobs[i]*330))

In [10]:
df['job'].value_counts()

admin.           10506
blue-collar       9329
technician        6798
services          4001
management        2948
retired           1734
entrepreneur      1468
self-employed     1433
housemaid         1069
unemployed        1023
student            879
Name: job, dtype: int64

## Marital

In [11]:
df_norm_marital = df['marital'].value_counts(normalize = True)
df_norm_marital

married     0.605225
single      0.280859
divorced    0.111974
unknown     0.001942
Name: marital, dtype: float64

In [12]:
df['marital'].value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [13]:
df['marital'] = df['marital'].replace('unknown', np.nan)

In [14]:
df['marital'].value_counts()

married     24928
single      11568
divorced     4612
Name: marital, dtype: int64

In [15]:
for i in (range(len(df_norm_marital))):
    df['marital'] = df['marital'].fillna(df_norm_marital.index.values[i], limit = math.ceil(df_norm_marital[i]*80))

In [16]:
df['marital'].value_counts()

married     24977
single      11591
divorced     4620
Name: marital, dtype: int64

## Education

In [17]:
df_norm_education = df['education'].value_counts(normalize = True)
df_norm_education

university.degree      0.295426
high.school            0.231014
basic.9y               0.146766
professional.course    0.127294
basic.4y               0.101389
basic.6y               0.055647
unknown                0.042027
illiterate             0.000437
Name: education, dtype: float64

In [18]:
df['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [19]:
df['education'] = df['education'].replace('unknown', np.nan)

In [20]:
df['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
illiterate                18
Name: education, dtype: int64

In [21]:
for i in (range(len(df_norm_education))):
    df['education'] = df['education'].fillna(df_norm_education.index.values[i], limit = math.ceil(df_norm_education[i]*1731))

In [22]:
df['education'].value_counts()
df_norm_education_2 = df['education'].value_counts(normalize = True)

In [23]:
df['education'] = df['education'].replace('unknown', np.nan)
for i in (range(len(df_norm_education_2))):
    df['education'] = df['education'].fillna(df_norm_education_2.index.values[i], limit = math.ceil(df_norm_education_2[i]*70))

In [24]:
df['education'].value_counts()

university.degree      12702
high.school             9932
basic.9y                6311
professional.course     5474
basic.4y                4360
basic.6y                2391
illiterate                18
Name: education, dtype: int64

## Default

In [25]:
df_norm_default = df['default'].value_counts(normalize = True)
df_norm_default

no         0.791201
unknown    0.208726
yes        0.000073
Name: default, dtype: float64

In [26]:
df['default'].value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

For this feature, it doesn't really make sense to follow the same method we've been using. Actually, I'm going to drop this column since it doesn't really tell us anything useful.

In [27]:
df = df.drop(['default'], axis = 1)

In [28]:
print(df.columns)
print(df.shape)

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')
(41188, 20)

## Housing

In [29]:
df_norm_housing = df['housing'].value_counts(normalize = True)
df_norm_housing

yes        0.523842
no         0.452122
unknown    0.024036
Name: housing, dtype: float64

In [30]:
df['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [31]:
df['housing'] = df['housing'].replace('unknown', np.nan)

In [32]:
df['housing'].value_counts()

yes    21576
no     18622
Name: housing, dtype: int64

In [33]:
for i in (range(len(df_norm_housing))):
    df['housing'] = df['housing'].fillna(df_norm_housing.index.values[i], limit = math.ceil(df_norm_housing[i]*990))

In [34]:
df['housing'].value_counts()

yes        22095
no         19070
unknown       23
Name: housing, dtype: int64

In [35]:
df_norm_housing_2 = df['housing'].value_counts(normalize = True)
df['housing'] = df['housing'].replace('unknown', np.nan)
for i in (range(len(df_norm_housing))):
    df['housing'] = df['housing'].fillna(df_norm_housing.index.values[i], limit = math.ceil(df_norm_housing[i]*23))

In [36]:
df['housing'].value_counts()

yes    22108
no     19080
Name: housing, dtype: int64

## Loan

In [37]:
df_norm_loan = df['loan'].value_counts(normalize = True)
df_norm_loan

no         0.824269
yes        0.151695
unknown    0.024036
Name: loan, dtype: float64

In [38]:
df['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [39]:
df['loan'] = df['loan'].replace('unknown', np.nan)

In [40]:
df['loan'].value_counts()

no     33950
yes     6248
Name: loan, dtype: int64

In [41]:
for i in (range(len(df_norm_loan))):
    df['loan'] = df['loan'].fillna(df_norm_loan.index.values[i], limit = math.ceil(df_norm_loan[i]*990))

In [42]:
df['loan'].value_counts()

no         34767
yes         6399
unknown       22
Name: loan, dtype: int64

In [43]:
df_norm_loan_2 = df['loan'].value_counts(normalize = True)
df['loan'] = df['loan'].replace('unknown', np.nan)
for i in (range(len(df_norm_loan))):
    df['loan'] = df['loan'].fillna(df_norm_loan.index.values[i], limit = math.ceil(df_norm_housing[i]*22))

In [44]:
df['loan'].value_counts()

no     34779
yes     6409
Name: loan, dtype: int64

## Double check all the 'unknown' values are gone

In [45]:
for c in df.columns:
    print(c)
    print(df[c].unique())

age
[56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44
 42 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67
 73 88 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91
 86 98 94 84 92 89]
job
['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'entrepreneur' 'student']
marital
['married' 'single' 'divorced']
education
['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'university.degree' 'illiterate']
housing
['no' 'yes']
loan
['no' 'yes']
contact
['telephone' 'cellular']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
day_of_week
['mon' 'tue' 'wed' 'thu' 'fri']
duration
[ 261  149  226 ... 1246 1556 1868]
campaign
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56
 39 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]
pdays
[999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]
previous
[0 1 2 3 4 5 6 7]
poutcome
['nonexistent' 'failure' 'success']
emp.var.rate
[ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]
cons.price.idx
[93.994 94.465 93.918 93.444 93.798 93.2   92.756 92.843 93.075 92.893
 92.963 92.469 92.201 92.379 92.431 92.649 92.713 93.369 93.749 93.876
 94.055 94.215 94.027 94.199 94.601 94.767]
cons.conf.idx
[-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]
euribor3m
[4.857 4.856 4.855 4.859 4.86  4.858 4.864 4.865 4.866 4.967 4.961 4.959
 4.958 4.96  4.962 4.955 4.947 4.956 4.966 4.963 4.957 4.968 4.97  4.965
 4.964 5.045 5.    4.936 4.921 4.918 4.912 4.827 4.794 4.76  4.733 4.7
 4.663 4.592 4.474 4.406 4.343 4.286 4.245 4.223 4.191 4.153 4.12  4.076
 4.021 3.901 3.879 3.853 3.816 3.743 3.669 3.563 3.488 3.428 3.329 3.282
 3.053 1.811 1.799 1.778 1.757 1.726 1.703 1.687 1.663 1.65  1.64  1.629
 1.614 1.602 1.584 1.574 1.56  1.556 1.548 1.538 1.531 1.52  1.51  1.498
 1.483 1.479 1.466 1.453 1.445 1.435 1.423 1.415 1.41  1.405 1.406 1.4
 1.392 1.384 1.372 1.365 1.354 1.344 1.334 1.327 1.313 1.299 1.291 1.281
 1.266 1.25  1.244 1.259 1.264 1.27  1.262 1.26  1.268 1.286 1.252 1.235
 1.224 1.215 1.206 1.099 1.085 1.072 1.059 1.048 1.044 1.029 1.018 1.007
 0.996 0.979 0.969 0.944 0.937 0.933 0.927 0.921 0.914 0.908 0.903 0.899
 0.884 0.883 0.881 0.879 0.873 0.869 0.861 0.859 0.854 0.851 0.849 0.843
 0.838 0.834 0.829 0.825 0.821 0.819 0.813 0.809 0.803 0.797 0.788 0.781
 0.778 0.773 0.771 0.77  0.768 0.766 0.762 0.755 0.749 0.743 0.741 0.739
 0.75  0.753 0.754 0.752 0.744 0.74  0.742 0.737 0.735 0.733 0.73  0.731
 0.728 0.724 0.722 0.72  0.719 0.716 0.715 0.714 0.718 0.721 0.717 0.712
 0.71  0.709 0.708 0.706 0.707 0.7   0.655 0.654 0.653 0.652 0.651 0.65
 0.649 0.646 0.644 0.643 0.639 0.637 0.635 0.636 0.634 0.638 0.64  0.642
 0.645 0.659 0.663 0.668 0.672 0.677 0.682 0.683 0.684 0.685 0.688 0.69
 0.692 0.695 0.697 0.699 0.701 0.702 0.704 0.711 0.713 0.723 0.727 0.729
 0.732 0.748 0.761 0.767 0.782 0.79  0.793 0.802 0.81  0.822 0.827 0.835
 0.84  0.846 0.87  0.876 0.885 0.889 0.893 0.896 0.898 0.9   0.904 0.905
 0.895 0.894 0.891 0.89  0.888 0.886 0.882 0.88  0.878 0.877 0.942 0.953
 0.956 0.959 0.965 0.972 0.977 0.982 0.985 0.987 0.993 1.    1.008 1.016
 1.025 1.032 1.037 1.043 1.045 1.047 1.05  1.049 1.046 1.041 1.04  1.039
 1.035 1.03  1.031 1.028]
nr.employed
[5191.  5228.1 5195.8 5176.3 5099.1 5076.2 5017.5 5023.5 5008.7 4991.6
 4963.6]
y
['no' 'yes']

## 'pdays'
In the column description for this feature, it states that the value '999' is used as a placeholder for clients who have not been contacted previously. The rest of the numbers represent the number of days since last being contacted. Since there were so many '999' values, I decided to simply turn this into a binary feature where '0' represents the client not being contacted, and '1' represents the client being contacted.

In [46]:
df['pdays'].value_counts()

999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
19         3
22         3
21         2
26         1
20         1
25         1
27         1
Name: pdays, dtype: int64

In [47]:
pd.crosstab(df['pdays'], df['y'])

y         no   yes
pdays
0          5    10
1         18     8
2         24    37
3        141   298
4         55    63
5         17    29
6        123   289
7         20    40
8          6    12
9         29    35
10        22    30
11        13    15
12        32    26
13         8    28
14         9    11
15         8    16
16         5     6
17         6     2
18         3     4
19         2     1
20         1     0
21         0     2
22         1     2
25         0     1
26         0     1
27         0     1
999    36000  3673

In [48]:
df['pdays'] = df['pdays'].replace([6, 4, 3, 5, 1, 0, 10, 7, 8, 9, 11, 2, 12, 13, 14, 15, 16, 21, 17, 18, 22, 25, 26, 19, 27, 20], 1)
df['pdays'] = df['pdays'].replace(999, 0)

In [49]:
df['pdays'].value_counts()

0    39673
1     1515
Name: pdays, dtype: int64

## One final step!

In the description of features from the dataset it states:

duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

Since I want this to be a realistic, predictive model, I am going to drop the 'duration' feature.

In [55]:
df = df.drop(['duration'], axis = 1)
df.columns

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'campaign', 'pdays', 'previous', 'poutcome',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y'],
      dtype='object')

## Okay all good.

Preprocessing of the data went smoothly. There were no crazy anomalies and this process mainly consisted of filling in 'unknown' values with actual values.

One note - I did bin the 'age' feature and after some extensive modeling, ended up turning it back into its original state.

## Export processed data to be used in other notebooks

In [56]:
df.to_csv('processed.csv')